<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check your Email</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <h1>Check your Email</h1>
        <p>A link to reset your password has been sent to <%= email %>.</p>
    </div>
</body>

</html>