<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login with Email Link</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <div class="container">
        <h1>Verify your Email</h1>
        <form action="/auth/login/email" method="POST">
            <div class="form-group">
                <label for="email">Email: <%= user.email %></label>
                <input type="hidden" id="email" name="email" value="<%= user.email %>">
            </div>
            <button type="submit">Email Verification Link...</button>
        </form>
    </div>
        <p>Don't have an account? <a href="/auth/signup">Sign up here</a></p>
        <p>Forgot your password? <a href="/auth/forgot-password">Reset here</a></p>
        <p>Other Login options: <a href="/auth/login">Login</a></p>
    </div>
</body>

</html>